.hero-container {
    position: relative;
    height: 800px;
    overflow: hidden;
}

.age{
    color: #e8a020;
}

.hero-image {
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    mask-image: radial-gradient(circle, black 100%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle, black 10%, transparent 95%);
    opacity: 60%;
    margin-left: auto;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.hero-title {
    text-shadow: 3px 2px 10px rgb(0, 0, 0);
    font-size: clamp(1.5rem, 8vw, 98px);
    line-height: 1;
    white-space: nowrap;
    color: #f0f4ff;
}

.plus {
    font-size: 0.5em;
    vertical-align: baseline;
    margin-right: 0.2em;
}

.text-yellow_two {
    display: inline-block;
}

.container-sub-title {
    font-size: clamp(1.2rem, 6vw, 64px);
    margin-top: clamp(0.2rem, 4vw, 4rem);
    margin-left: clamp(0.5rem, 2vw, 1.5rem);
    color: #f0f4ff;
}

/* Responsive para móviles */
@media (max-width: 768px) {
    .hero-container {
        height: 500px;
    }
    
    .hero-image {
        width: 100%;
        height: 100%;
    }
    
    .hero-text {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
    
    .hero-title {
        transform: translateY(90%) scale(0.8);
    }
    
    .container-sub-title {
        font-size: clamp(1.2rem, 6vw, 1.5rem);
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
    }
}

/* Animaciones */
.hero-title{
    transform: translateY(90%);
    transition: all 1.2s ease-in-out, opacity 2s ease;
    opacity: 0; 
}

.container-sub-title{
    transition: opacity 3s ease;
    opacity: 0; 
}

.hero-title.show{
    transform: translateY(0) scale(1);
    opacity: 1;
}

.show-subtitles{
    opacity: 1;
}