---
import { Image } from "astro:assets";
import "./hero.css";
---

<section
    id="inicio"
    class="hero-container w-full relative flex justify-center items-center mt-[50px] bg-black"
>
    <Image
        src="/assets/videoHero.webp"
        alt="Video de soldadura representativo de Maestría del Hierro"
        width={100}
        height={100}
        format="webp"
        loading="eager"
        class="hero-image"
    />
    
    <div class="hero-text absolute">
        <h1 class="hero-title font-sans flex items-center  font-extrabold">
            <span class="plus">+</span><span class="age">30&nbsp;</span>años de experiencia
        </h1>
        <div class="container-sub-title font-work font-thin">
            <p>Más de 2000 clientes</p>
            <p>A lo largo de Bogotá y Colombia.</p>
        </div>
    </div>
</section>

<script>
    const textHero = document.querySelector(".hero-title");
    const subTitles = document.querySelector(".container-sub-title");

    document.addEventListener("DOMContentLoaded", ()=>{
        textHero?.classList.add("show");
        subTitles?.classList.add("show-subtitles");
    });
</script>