---
import "./background.css";
import { Image } from "astro:assets";

---

<section class="background-image">
    <Image src="/assets/fondoAbout.webp" loading="eager" width={100} height={100} class="soldador" alt="soldador">
</section>
